# Port
PORT=3000

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost:27017/fpt-forum'

# JSON web token (JWT) secret: this keeps our app's user authentication secure
JWT_PUBLIC_KEY_PATH='./publickey.crt'
JWT_PRIVATE_KEY_PATH='./privatekey.pem'
JWT_EXPIRES_IN=1d

# Debug
LOG_LEVEL='debug'

# project env
NODE_ENV='development'

# passportjs
FACEBOOK_CALL_BACK_URL= 'https://1088-116-110-42-29.ngrok.io/api/v1/auth/facebook/callback'
FACEBOOK_APP_ID= '1506639399703836'
FACEBOOK_APP_SECRET= '30e09c01ba20d2997fd676fdda250210'
